[monasca:children]
monasca_master
monasca_workers

{% set master = node_ips.results[0] %}
{% set workers = node_ips.results[1:] %}

[monasca_master]
{{master.item}} ansible_ssh_user=root ansible_ssh_pass=docker.io ansible_ssh_host={{master.stdout}} docker_name={{job_name}}_{{master.item}}_{{build_number}}

[monasca_workers]
{% for node in workers %}
{{node.item}} ansible_ssh_user=root ansible_ssh_pass=docker.io ansible_ssh_host={{node.stdout}} docker_name={{job_name}}_{{node.item}}_{{build_number}}
{% endfor %}

[monasca:vars]
keystone_host={{openstack_ip}}
openstack_docker_name={{openstack_name}}
